
.loader {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    display: inline-block;
    border-top: 8px solid #333333;
    border-right: 8px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    border-left: 8px solid #000000;
    border-bottom: 8px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 